<div class="owners">
  <button mat-raised-button color="primary" (click)="addOwner()"
          [routerLink]="[ '/owner' ]">
    <mat-icon aria-hidden="false" aria-label="Add icon">add</mat-icon> Добавить </button>
  <button mat-raised-button (click)="viewOwner()" color="primary" [disabled]="!activeRow"
          [routerLink]="[ '/owner',  ownerId ]">
    <mat-icon aria-hidden="false" aria-label="View icon">visibility</mat-icon> Просмотр </button>
  <button mat-raised-button (click)="editOwner()" color="primary" [disabled]="!activeRow"
          [routerLink]="[ '/owner',  ownerId ]">
    <mat-icon aria-hidden="false" aria-label="Edit icon">edit_note</mat-icon> Редактировать </button>
  <button mat-raised-button (click)="deleteOwner(ownerId)" color="primary" [disabled]="!activeRow">
    <mat-icon aria-hidden="false" aria-label="Remove icon">delete</mat-icon> Удалить </button>

  <table mat-table [dataSource]="owners" class="mat-elevation-z8" *ngIf="owners.length > 0; else noOwners">
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Фамилия </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Имя </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef> Отчество </th>
      <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
    </ng-container>

    <ng-container matColumnDef="cars">
      <th mat-header-cell *matHeaderCellDef> Количество автомобилей </th>
      <td mat-cell *matCellDef="let element"> {{element.cars.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="activeRow = row; chooseRow(row)" [ngClass]="activeRow === row ? 'choosed-row' : '' "></tr>
  </table>


  <ng-template #noOwners>
    <p class="no-owner">Здесь пока нет владельцев авто, добавьте первого автовладельца!</p>
  </ng-template>
</div>

